<a href="https://colab.research.google.com/github/AmitojSB/Random-Password-Generator-Using-Tkinter/blob/main/Ecommerce_Purchases_Case_Study_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Ecommerce Purchases to Ecommerce Purchases

In [ ]:
import pandas as pd
data=pd.read_csv('Ecommerce Purchases')
data

                                                Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]

# ***1. To Display Top 10 Rows of The Dataset:***

In [ ]:
data.head(10)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
5  7502 Powell Mission Apt. 768\nTravisland, VA 3...  ...          25.15
6     93971 Conway Causeway\nAndersonburgh, AZ 75107  ...          88.56
7  260 Rachel Plains Suite 366\nCastroberg, WV 24...  ...          44.25
8            2129 Dylan Burg\nNew Michelle, ME 28650  ...          59.54
9    3795 Dawson Extensions\nLake Tinafort, ID 88739  ...          95.63

[10 rows x 14 columns]

# ***2. Check Last 10 Rows of The Dataset***

In [ ]:
data.tail(10)

                                                Address  ... Purchase Price
9990  75731 Molly Springs\nWest Danielle, VT 96934-5102  ...          18.35
9991              PSC 8165, Box 8498\nAPO AP 60327-0346  ...          25.93
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  ...          67.96
9993  7555 Larson Locks Suite 229\nEllisburgh, MA 34...  ...          65.61
9994       6276 Rojas Hollow\nLake Louis, WY 56410-7837  ...          31.85
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10 rows x 14 columns]

#3. ***Check Datatype of Each Column***

In [ ]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

# ***4. Check null values in the dataset***

In [ ]:
data.isnull().sum

<bound method DataFrame.sum of       Address    Lot  AM or PM  ...  IP Address  Language  Purchase Price
0       False  False     False  ...       False     False           False
1       False  False     False  ...       False     False           False
2       False  False     False  ...       False     False           False
3       False  False     False  ...       False     False           False
4       False  False     False  ...       False     False           False
...       ...    ...       ...  ...         ...       ...             ...
9995    False  False     False  ...       False     False           False
9996    False  False     False  ...       False     False           False
9997    False  False     False  ...       False     False           False
9998    False  False     False  ...       False     False           False
9999    False  False     False  ...       False     False           False

[10000 rows x 14 columns]>

# ***5.How many rows and columns are there in our Dataset?***

In [ ]:
len(data.columns)

14

In [ ]:
len(data)

10000

In [ ]:
data.info

<bound method DataFrame.info of                                                 Address  ... Purchase Price
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                      Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3                 7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82
...                                                 ...  ...            ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[10000 rows x 14 columns]>

# ***6. Highest and Lowest Purchase Prices.***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
data['Purchase Price'].max()

99.99

In [ ]:
data['Purchase Price'].min()

0.0

# ***7. Average Purchase Price***

In [ ]:
data['Purchase Price'].mean()

50.34730200000025

# ***8. How many people have French 'fr' as their Language?***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
data[data['Language']=='fr']

                                                Address  ... Purchase Price
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
19                  125 Hall Summit\nBoothton, IL 41721  ...          58.39
53                PSC 9431, Box 7059\nAPO AA 29285-1363  ...          10.41
76    49206 Campbell Port\nNorth Cliffordshire, HI 3...  ...          57.34
82    493 Smith Valleys Suite 004\nNew Madelineville...  ...          49.04
...                                                 ...  ...            ...
9941           43757 Brown Lodge\nValerieberg, PR 88518  ...          60.03
9947      32827 Carl Inlet\nSouth Nicole, NY 38081-6636  ...          49.61
9951                518 Brown Dam\nGarciaside, IN 33057  ...          57.59
9977  02182 Keith Expressway\nEast Shannon, CT 20578...  ...          94.93
9980           6061 Dave Lights\nPhillipsview, UT 40500  ...          16.05

[1097 rows x 14 columns]

In [ ]:
data[data['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

# ***9. Job Title Contains Engineer***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
len(data[data['Job'].str.contains('engineer',case=False)])

984

# ***10. Find The Email of the person with the following IP Address: 132.207.160.22***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
data[data['IP Address']=="132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

# ***11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
len(data[(data['CC Provider']=="Mastercard")& (data['Purchase Price']>50)])

405

# ***12. Find the email of the person with the following Credit Card Number: 4664825258997302***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
data[data['Credit Card']==4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

# ***13. How many people purchase during the AM and how many people purchase during PM?***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

# ***14. How many people have a credit card that expires in 2020?***

In [ ]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [ ]:
len(data[data['CC Exp Date'].apply(lambda x:x[3:]=='20')])

988